.general{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content:center;
	flex-basis:20em;
}
list_word{
<<<<<<< HEAD
	line-height:2em;
=======
>>>>>>> f09829511e7aa32f1468e7048740f4e085bf1965
	text-align:right;
}
.huge{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin:auto;
	flex-basis:2em;
<<<<<<< HEAD
=======
}
.ta{
	border:0px;
	background:rgba(255,255,255,0.3);
	border-radius:5px;
}
.cb{
	
>>>>>>> f09829511e7aa32f1468e7048740f4e085bf1965
}